@charset "utf-8";
/* CSS Document */

html {
    overflow-y: scroll;
	overflow-x:hidden;
}

body{
	margin:0;
	padding-top:20px;
	padding-bottom:20px;
	background: -webkit-linear-gradient(rgb(192,192,192),rgb(100,100,100));
	background: -o-linear-gradient(rgb(192,192,192),rgb(100,100,100));
	background: -moz-linear-gradient(rgb(192,192,192),rgb(100,100,100));
	background: linear-gradient(rgb(192,192,192),rgb(100,100,100));
	background: -ms-linear-gradient(top, #C0C0C0, #646464);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#C0C0C0', endColorstr='#646464',GradientType=0);
    zoom: 1;
	background-color:rgb(100,100,100);
	background-repeat:no-repeat;
	font-family:Roboto, "Times New Roman", Times, serif;
	font-size:14px;
	}
	
#wrapper{
	width:960px;
	background-color:#FFF;
	margin:0 auto;
	border:solid 2px black;
	}

img{
	border-image-outset:0;
	border:0;
	}
	
a{
	text-decoration:none;
	}
	
p,h1,h2{
	margin:0;
	}

h1{font-size:18px;}	

	
#header{
	overflow:hidden;
	}	
		
#logo{	
	margin:10px 50px 10px 15px;
	float:left;
	}
		
#quote{
	width:653px;
	height:70px;
	position:relative;
	float:right;
	padding:10px;
	text-align:right;	
	background: -webkit-linear-gradient(left, white, rgb(255,255,153));
	background: -o-linear-gradient(right, white, rgb(255,255,153));
	background: -moz-linear-gradient(right, white, rgb(255,255,153));
	background: linear-gradient(to right, white, rgb(255,255,153));
	background: -ms-linear-gradient(left, #FFFFFF, #FFFF99);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#FFFFFF', endColorstr='#FFFF99',GradientType=1);
    zoom: 1;
	}
	
#author{
	position:absolute;
	bottom:10px;
	right:10px;
	}	

/* Sidebar meni */	

#kontejner{
	overflow:hidden;
	background: -webkit-linear-gradient(left, white, rgb(153,153,255));
	background: -o-linear-gradient(right, white, rgb(153,153,255));
	background: -moz-linear-gradient(right, white, rgb(153,153,255));
	background: linear-gradient(to right, white, rgb(153,153,255));
	background: -ms-linear-gradient(left, #FFFFFF, #9999FF);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#FFFFFF', endColorstr='#9999FF',GradientType=1);
    zoom: 1;
	}
	
.aside{
	float:left;
	width:260px;
	margin:20px 40px 40px 40px;
	background-color:rgb(255,255,153);
	border:solid 2px black;
	}
	
#aside_naslov{
	text-align:center;
	margin:5px 0 20px 0;
	color:rgb(0,0,128);
	font-weight:bold;
	}
	
.aside ul{
	margin:0;
	padding:0;
	list-style:none;
	}
	
.aside ul a{	
	display:block;
	padding:1px 0 1px 5px;
	font-weight:bold;
	color:rgb(0,0,128);
	height:20px;
	line-height:20px;
	}	
	
.aside ul li ul a{	
	display:block;
	padding:1px 0 1px 15px;
	}	
	
.aside ul li ul li ul a, #drugi_nivo a{	
	display:block;
	padding:1px 0 1px 25px;
	font-weight:normal;
	font-style:italic;
	color:rgb(0,0,0);
	}
	
.aside a:hover, #drugi_nivo a:hover{
	background:rgb(51,51,153);
	background: -webkit-linear-gradient(rgb(136,136,216), rgb(51,51,153));
	background: -o-linear-gradient(rgb(136,136,216), rgb(51,51,153));
	background: -moz-linear-gradient(rgb(136,136,216), rgb(51,51,153));
	background: linear-gradient(rgb(136,136,216), rgb(51,51,153));
	background: -ms-linear-gradient(top, #8888D8, #333399);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#8888D8', endColorstr='#333399',GradientType=0);
    zoom: 1;
	color:#FFFFFF;
	font-weight:bold;
	}

#inline{display:inline;}	
	
#polje_aside a, #polje_aside a:hover{
	position:relative;
	background: rgb(51,51,153);
	background: -webkit-linear-gradient(rgb(136,136,216), rgb(51,51,153));
	background: -o-linear-gradient(rgb(136,136,216), rgb(51,51,153));
	background: -moz-linear-gradient(rgb(136,136,216), rgb(51,51,153));
	background: linear-gradient(rgb(136,136,216), rgb(51,51,153));
	background: -ms-linear-gradient(top, #8888D8, #333399);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#8888D8', endColorstr='#333399',GradientType=0);
    zoom: 1;
	color:#FFFFFF;
	font-weight:bold;
	}

#slika_vrata{
	position:absolute;
	right:0;
	top:1px;
	}	
				
/* Kraj - Sidebar meni */		


#section {
	float:right;
	margin:20px 20px 20px 0;
	width:592px;
	}
	
#section_figure{
	margin:0;
	}	
	
#section, #section a{
	color:#000;
	}

#article h1{
	margin-top:40px;
	font-size:18px;
	}
	
#article h2{
	margin-top:20px;
	font-size:16px;
	}	
	
#article p{
	margin-top:5px;
	}
	
.center{
	text-align:center;
	}
	
.italic{
	font-style:italic;
	}
	
.bold{
	font-weight:bold;
	}
	
.blue{
	color:rgb(0,0,128);
	}		
	
.link{
	color:rgb(51,51,153);
	font-size:18px
	}

.tekst_left{
	display:inline;
	}
	
.tekst_right{
	display:inline;
	margin-left:250px;
	}
	
.link_normal{
	color:rgb(0,0,255);
	font-weight:bold;
	}	

.align_right{
	text-align:right;
	}
	
#jezik{
	overflow:hidden;
	clear:both;
	}
	
#jezik img{
	border:none;
	display:block;
	float:left;
	margin:0 0 5px 5px;
	}
	
/* Padajuci meni */
#nav{
	background:rgb(51,51,153);
	background: -webkit-linear-gradient(rgb(136,136,216), rgb(51,51,153));
	background: -o-linear-gradient(rgb(136,136,216), rgb(51,51,153));
	background: -moz-linear-gradient(rgb(136,136,216), rgb(51,51,153));
	background: linear-gradient(rgb(136,136,216), rgb(51,51,153));
	background: -ms-linear-gradient(top, #8888D8, #333399);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#8888D8', endColorstr='#333399',GradientType=0);
    zoom: 1;
	height:26px;
	border-top:solid 2px black;
	border-bottom:solid 2px black;
	font-weight:bold;
	}
	
#nav ul{
	margin:0 0 0 348px;
	padding:0;
	list-style:none;
	position:relative;
	z-index:20;
	}	
	
#nav ul li{
	position:relative;
	float:left;
	}
	
.nav_prvi_nivo{
	width:175px;
	text-align:center;
	border-right:2px solid black;
	}
.prvi_li{
	border-left:2px solid black;
	}

#nav ul li ul{
	display:none;
	position:absolute;
	top:100%;
	left:-2px;
	margin:0;
	}	
	
#nav ul li:hover>ul{
	display:block;	
	}		

#nav ul li ul li{
	width:175px;
	border-top:2px solid black;
	border-right:2px solid black;
	border-left:2px solid black;
	}
.zadnji_li{
	border-bottom:2px solid black;
	}	
	
#nav ul li ul li ul{
	position:absolute;
	left:100%;
	top:-2px;
	}	
	
#nav ul li ul li ul li{
	width:195px;
	}		
	
#nav ul li a{	
	display:block;
	height:26px;
	line-height:26px;
	color:#FFF;
	}	
	
#nav ul li a:link, #nav ul li a:visited{
	background:rgb(51,51,153);
	background: -webkit-linear-gradient(rgb(136,136,216), rgb(51,51,153));
	background: -o-linear-gradient(rgb(136,136,216), rgb(51,51,153));
	background: -moz-linear-gradient(rgb(136,136,216), rgb(51,51,153));
	background: linear-gradient(rgb(136,136,216), rgb(51,51,153));
	background: -ms-linear-gradient(top, #8888D8, #333399);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#8888D8', endColorstr='#333399',GradientType=0);
    zoom: 1;
	color:#FFF;
	}	
	
#nav ul li a:hover {
	background:rgb(192,192,192);
	background: -webkit-linear-gradient(#FFF, rgb(192,192,192));
	background: -o-linear-gradient(#FFF, rgb(192,192,192));
	background: -moz-linear-gradient(#FFF,rgb(192,192,192));
	background: linear-gradient(#FFF, rgb(150,150,150));
	background: -ms-linear-gradient(top, #FFFFFF, #969696);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#FFFFFF', endColorstr='#969696',GradientType=0);
    zoom: 1;
	color:rgb(51,51,153);
	}
/* Kraj - Padajuci meni */	

/* footer */
#footer{
	background:rgb(51,51,153);
	background: -webkit-linear-gradient(rgb(136,136,216), rgb(51,51,153));
	background: -o-linear-gradient(rgb(136,136,216), rgb(51,51,153));
	background: -moz-linear-gradient(rgb(136,136,216), rgb(51,51,153));
	background: linear-gradient(rgb(136,136,216), rgb(51,51,153));
	background: -ms-linear-gradient(top, #8888D8, #333399);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#8888D8', endColorstr='#333399',GradientType=0);
    zoom: 1;
	border-top:solid 2px black;
	color:#FFF;
	text-align:center;
	}

#footer a{
	color:#FFF;
	}
/* Kraj - Footer */ 


	

