/* CSS Document */

body {
	background:#89D6D9;
}

#wrapper {
	background:#ffffff;
	padding:20px;
	margin:0 auto;
	width:900px;
}

table,
th,
td {
	border:1px solid #ccc;
	border-collapse:collapse;
	padding:5px;
}

th {
	background:#ECE7D7;
}

td {
	background:#F5F4F2;
}

.izdvojeno {
	background:#ddd;
	padding:10px;
	margin:20px 0;
}
