.ime {
	float:left;
	width: 120px; 
	padding: 5px;
	} 
	
/*
	float
*/
.fleft { float: left;}
.fright { float: right;}
.clr { clear: both;}

/*
	wrapper
*/
.wrapper5 { padding: 5px; }
.wrapper10 { padding: 10px; }

/*
	width
*/
.w125 { width: 125px;}
	